body {
  display: flex;
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
  place-items: center;
  justify-content: center;
}

* {
  font-family: Arial, Helvetica, sans-serif;
  text-align: right;
  margin: 1%;
  box-sizing: border-box;
}

.App{
  display: contents;
  align-items: center;
  height: 100vh;
}

.card{
  width: 800px;
  box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
  background: #fff;
}

.card button{
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.3);
  border: none;
  cursor: pointer;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  color: #fff;
  margin-bottom: 1.5rem;
  margin-right: 1.2rem;
}

.card button i{
  font-size: 25px;
  color:#fff;
  width: -1rem;
  margin-top: -0.1rem;
}

.card h1{
  font-size: 60px;
  text-align: left;
  margin-block:-5px;
  margin-top: 1px;
}

h2{
  text-align: end;
  padding-left: 40px;
}

@media screen and (max-width:680px) {
  .card{
    /* width: 800px; */
    box-shadow: #0e1e251f 0 2px 4px, #0e1e2552 0 2px 16px;
    background: #fff;
    width: 200px;
    padding: 1rem;
}
.card h1{
  font-size: 60px;
  text-align: left;
  margin-top: 1px;
}
h2{
  text-align: start;
  padding-left: 30px;
  font-size: 20px;
  margin-top: -8px;
}
p{
  margin-top: 12px;
  text-align: end;
}
.card button{
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.3);
  border: none;
  cursor: pointer;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  color: #fff;
  margin-bottom: 1rem;
  margin-left: 8rem;
  text-align: center;
}

.card button i{
  font-size: 25px;
  color:#fff;
  width: -1rem;
  margin-top: -0.1rem;
}
  }
